
@media (max-width: 1026px) {
    #banner h1 {
        font-size: 2.9rem;
        line-height: 1.5;
    }
    .about .col-lg-5 .w-50{
        width: 75%!important;
    }
    .languages .lang-logo img {
        max-width: 100%;
    }
    #banner a {
        width: 30%!important;
    }
    #banner p br{
        display: none;
    }

}
@media (max-width: 769px) {
    .mobile-nav-toggle {
    font-size: 2rem;
    color:white;
    display:block;
    }
    #navbar ul:nth-child(1) {
    display: none;
    }
    .navbar ul:nth-child(2){
        display: block;
    }
    .project .bg-badge {
    margin: .25rem 0;
    }
    #banner a {
    width: 40%!important;
    }
    #banner p br{
        display: none;
    }
    #banner h1 {
        font-size: 2rem;
    }
    .about .col-lg-5 .w-50 {
        width: 25% !important;
    }
    .about .col-md-12:nth-child(2){
        order: 1!important;
    }    .about .col-md-12:nth-child(1){
        order: 2!important;
    }
    .languages .lang-logo img {
        max-width: 50%;
    }
}
    @media (max-width: 426px) {
    .banner a {
        width: 50% !important;
        margin-right: 12px;
    }
    #banner h1 {
        font-size: 2rem;
    }
    .blob {
        transform: translate(-50px, 0px);
        width: 200px;
        height: 300px;
        top: 0;
    }
    .banner {
        padding: 100px 0px;
    }
    .form-email .bg-form img{
        display: block;
        margin: auto;
        padding: 0px 0px 25px 0px;
    }
    .about .col-lg-5 .w-50 {
        width: 200px !important;
        height: 200px !important;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px;
    }
    .navbar li {
        position: relative;
        padding: 11px 15px;
    }
}
@media (max-width: 376px) {
    #banner a {
        width: 45% !important;
        margin-right: 12px;
    }
    
}
@media (max-width: 325px) {
    #banner a {
        width: 100% !important;
        margin-right: 0px;
    }
    #banner h1 {
        font-size: 1.7rem;
    }
    .navbar .btn-warning {
        padding: 8px 15px;
    }
    .form-email .p-5{
        padding: 1rem !important;
    }
    

}
