@media (max-width: 960px) {

}
@media (max-width: 1024px) {
    #banner h1 {
        font-size: 2.9rem;
    }
    .about .col-lg-5 .w-50{
        width: 75%!important;
    }
    .languages .lang-logo img {
        max-width: 100%;
    }
    .mobile-nav-toggle {
        display: none;
    }
}
@media (max-width: 768px) {
   #navbar ul {
    display: none;
   }
   .mobile-nav-toggle {
    font-size: 2rem;
    color:white;
    display:block;
    }
    .project .bg-badge {
        margin: .25rem 0;
    }
    #banner a {
        width: 40%;
    }
    #banner p br{
        display: none;
    }
    #banner h1 {
        font-size: 2.5rem;
    }
}
    @media (max-width: 425px) {
  
}
@media (max-width: 375px) {
 
}
@media (max-width: 320px) {

}
